{% if pickupPoint is defined %}
<div class="pickup-point-card">
    <p class="pickup-point-name">{{ pickupPoint.name }}</p>
    <p class="pickup-point-address">{{ pickupPoint.fullAddress }}</p>
</div>
{% endif %}
