.smr_wrapper p {
    margin: 0;
}

.smr_wrapper .pickup-points-results-list ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.smr_wrapper .pickup-points-results-list li {
    width: 100%;
    margin-bottom: 0.5em;
}

.smr_wrapper .pickup-points-search {
    display: flex;
}

.smr_wrapper .pickup-points-search-form,
.smr_wrapper .pickup-points-search-results {
    width: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}

.smr_wrapper .pickup-points-search-form > div {
    margin-bottom: 20px;
}

.smr_wrapper .pickup-points-search-results {
    display: flex;
    margin-top: 66px;
}

.smr_wrapper .pickup-points-map {
    height: 100%;
    min-height: 500px;
}

.smr_wrapper .pickup-points-map button {
    border: none;
    background: transparent;
    padding: 0;
}

.smr_wrapper .pickup-points-search-results .pickup-points-no-results {
    display: none;
    width: 100%;
}

.smr_wrapper .pickup-point-controls button {
    margin-right: 10px;
}

.dimmer #modal-mondial-relay .ui.button.deny {
    color: unset !important;
    background: #E0E1E2 !important;
}

.dimmer #modal-mondial-relay .ui.button.deny:hover {
    border-color: #E0E1E2 !important;
}

#modal-mondial-relay > .content {
    height: 80vh;
    overflow: hidden;
}

#modal-mondial-relay .pickup-points-search {
    height: 80vh;
}

#modal-mondial-relay .pickup-points-search-results {
    max-height: 100%;
    overflow-y: scroll;
}

#modal-mondial-relay .pickup-point-controls button {
    cursor: pointer;
}

#modal-mondial-relay .pickup-points-input {
    display: flex;
    gap: 16px;
}

#modal-mondial-relay .pickup-points-input input {
    width: initial;
    flex-grow: 1;
}

#modal-mondial-relay .pickup-points-input button {
    margin: 0;
}

#modal-mondial-relay .relay-point-list-item {
    padding: 10px 20px;
    cursor: pointer;
}

#modal-mondial-relay .relay-point-list-item.highlight {
    background: #eee;
}

#modal-mondial-relay .relay-point-list-item td[colspan]:not([colspan="1"]) {
    text-align: center;
}

#modal-mondial-relay .ui.accordion .point-business-hours {
    display: none;
    font-size: 12px;
}

#modal-mondial-relay .ui.accordion .point-business-hours.active {
    display: block;
}

#modal-mondial-relay .ui.accordion .point-business-hours table {
    margin-top: 16px;
}

#current-pickup-point p {
    margin-bottom: 0;
}

#current-pickup-point button {
    margin-top: 10px;
    background: transparent;
    border: none;
    text-decoration: underline;
    padding: 0;
    cursor: pointer;
}

#current-pickup-point button:hover {
    text-decoration: none;
}

#current-pickup-point .pickup-point-card .pickup-point-name,
#current-pickup-point .pickup-point-card .pickup-point-address {
    font-size: 0.85rem;
}

#current-pickup-point .pickup-point-card .pickup-point-address {
    color: rgba(0, 0, 0, 0.6);
    font-style: italic;
}
