<div id="modal-mondial-relay" class="ui modal">
    <div class="header">
        {{ 'sylius.mondial_relay.modal.title'|trans }}
        <span class="close-modal"></span>
    </div>
    <div class="content">
        <div class="smr_wrapper"></div>
    </div>
    <div class="actions">
        <div class="ui button deny">{{ 'sylius.mondial_relay.modal.close'|trans }}</div>
        <div class="ui button approve primary" id="mr-select-btn">{{ 'sylius.mondial_relay.modal.next'|trans }}</div>
    </div>
</div>
